(
	model_path: "models/characters/snake.glb",
	model_scale: 0.15,
	collider: Cuboid((0.15, 0.15, 0.3)),
	collider_offset: Vec3(0.0, 0.15, 0.0),
	health: 15,
	spotting_range: 2.0,
	speed: 2.0,
	attack_stats: AttackStats (
		range: 0.5,
		speed: 1.0,
		damage: 10,
	),
)
