Settings(
    keyboard_input: {
        Z: Forward,
        S: Backward,
        Q: Left,
        D: Right,
        Space: Jump,
        T: Yaw(Some(true)),
        B: Yaw(Some(false)),
    },
    mouse_input: {
        Right: Punch
    },
    mouse_motion: Some([Yaw(None), Pitch(None)])
)
